body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe4f5;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

#country-input{
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

#fetch-data-btn {
    background-color: #e25aa4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#fetch-data-btn:hover {
    background-color: #8a175e;
}

.country-card {
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #fce4ec;
    box-shadow: 0 10px 25px rgba(226, 90, 164, 0.1);
}

.country-card h1 {
    color: #8a175e;
    font-size: 1.6rem;
    margin: 0 0 15px 0;
    border-bottom: 2px solid #ffe4f5;
    padding-bottom: 10px;
}

.country-card p {
    margin: 8px 0;
    color: #444;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between; 
}

.country-card strong {
    color: #e25aa4;
    font-weight: 600;
}

.country-card img {
    width: 40%;
    height: auto;
    max-width: 250px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.add-to-fave-btn {
    display: block;        
    margin: 20px auto 0;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border: 1px dashed #76174b;
    border-radius: 8px;
    display: inline-block;
}

.error {
    color: red;
    font-weight: bold;
    margin: 0;
    font-size: 12px;
}


#searches {
    margin-bottom: 15px;
    width: 100%;
}

.search-card {
    border-radius: 12px;
    justify-content: space-evenly;
    gap: 10px;
}

.search-item {
    display: inline-block;
    justify-content: center;
    background: #fff0f6;
    border: 1px solid #fce4ec;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px; 
    font-size: 13px;
    color: #e25aa4;
    transition: 0.2s;
}

.search-item:hover {
    background: #e25aa4;
    color: white;
}